@import "../variables.scss";

.weather-forecast-container {
  width: 100%;
  display: flex;
  padding: 5% 10%;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-secundary;
  &__actions {
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    & button {
      cursor: pointer;
      font-size: 1em;
      padding: 0.7em;
      margin-left: 0.7em;
      border: none;
      border-radius: 50%;
      &:hover {
        background-color: gray;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5%;
    justify-items: center;
    font-size: 1vw;
  }
  &__hightlights {
    display: grid;
  }
}

@media (max-width: 768px) {
  .weather-forecast-container {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      row-gap: 5%;
      font-size: 2vw;
    }
  }
}

@media (max-width: 425px) {
  .weather-forecast-container {
    font-size: 4vw;
    &__list {
      font-size: 4vw;
    }
  }
}
