@import "../variables.scss";

.weather-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary;
  &__date {
    margin-top: 10%;
  }
  &__image {
    margin-top: 10%;
    margin-bottom: 20%;
  }
  &__temp {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
  }
}
